html,
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  margin: 0;
  padding: 0;
  font-size: 14px;
  min-height: 200px;
  width: 400px;
  background-color: teal;
  
}

h1 {
  font-family: "Menlow", sans-serif;
  font-size: "21px";
  font-weight: 400;
  color: whitesmoke;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
  outline: 0;
}

img {
  width: 30px;
}

header {
  align-items: center;
  border-bottom: 1px solid #dadada;
}

.content {
  padding: 0 22px;
  color: whitesmoke;
  font-size: medium;
}

.icons {
  border-top: 1px solid #dadada;
  height: 50px;
  width: 100%;
}

.logo {
  padding: 16px;
}

.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}

.version {
  color: tomato;
  font-size: 18px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
  background-color: whitesmoke;
}

.flex {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 120px;
}

.flex:hover {
  opacity: 0.5;
}

.flex .fa {
  font-size: 35px;
  color: black;
}

.notes {
  align-items: center;
}

.container-joke {
  width: 75%;
  margin: 0 auto;
  border-radius: 1px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.container-joke p {
  text-align: justify;
} 

.alarm {
  text-align: center;
}

.alarm #demo{
  color:tomato;
}

.para{
  color: white;
  font-size: medium;
}

.inp{
  border: 3px solild white;
  /* background-color: black; */
  /* color: white; */

}

#add{
  border: 1px solid black;
  color: whitesmoke;
  background-color: black;
}

#add:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: black;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  text-decoration: underline;
  font-weight: 600;

}